* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 15px;
}

h1 {
    font-weight: 900;
}

hr {
    border-top: 2px solid black;
    margin-top: 35px;
}

.wrapper {
    margin:50px;
    display: grid;
    width: 320px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(5, 45px);
    grid-template-rows: repeat(6, 45px);
    column-gap: 13px;
    row-gap: 10px;
    grid-template-areas: 
        "c1 c2 c3 c4 c5" 
        "c6 c7 c8 c9 c10" 
        "c11 c12 c13 c14 c15"
        "c16 c17 c18 c19 c20"
        "c21 c22 c23 c24 c25"
        "c26 c27 c28 c29 c30"
}

.cell {
    border-style: solid;
    border-color: rgb(212, 211, 211);
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
}

.cell-red {
    border-color: red;
}

.cell-green {
    background-color: green;
    color: gainsboro;
}

.cell-grey {
    background-color: rgb(66, 65, 65);
    color: gainsboro;
}

.cell-yellow {
    background-color: rgb(229, 229, 88);
    color: gainsboro;
}

.spiral {
    animation: loader 1.25s infinite;
    font-weight: bold;
    font-size: 36pt;
    text-align: center;
}

.dialog-wrapper {
    width: 400px;
    display: none; /* Hidden by default */
    /* position: fixed; Stay in place */
    z-index: 1; /* Sit on top */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-title {
    background: rgb(58,123,226);
    background: linear-gradient(90deg, rgba(58,123,226,1) 47%, rgba(40,44,107,1) 100%);
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.dialog-body {
    font-weight: 900;
    font-size: larger;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: -20px;
    height: 100px;
}

.dialog-footer {
    border-color: black;
    background: rgb(58,123,226);
    background: linear-gradient(90deg, rgba(58,123,226,1) 47%, rgba(40,44,107,1) 100%);
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}

.dialog-footer > button {
    border-radius: 10px;
}

.dialog-footer > button:hover {
    cursor: pointer;
}

.dialog-title > h2 {
    color: white;
    font-weight: 900;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}