* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 15px;
}

h1 {
    font-weight: 900;
}

hr {
    border-top: 2px solid black;
    margin-top: 35px;
}

.wrapper {
    margin:50px;
    display: grid;
    width: 320px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(5, 45px);
    grid-template-rows: repeat(6, 45px);
    column-gap: 13px;
    row-gap: 10px;
    grid-template-areas: 
        "c1 c2 c3 c4 c5" 
        "c6 c7 c8 c9 c10" 
        "c11 c12 c13 c14 c15"
        "c16 c17 c18 c19 c20"
        "c21 c22 c23 c24 c25"
        "c26 c27 c28 c29 c30"
}

.cell {
    border-style: solid;
    border-color: rgb(212, 211, 211);
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
}

.cell-red {
    border-color: red;
}

.spiral {
    animation: loader 1.25s infinite;
    font-weight: bold;
    font-size: 36pt;
    text-align: center;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}