* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    text-align: center;
    padding: 15px;
}

h1 {
    font-weight: 900;
}

.wrapper {
    display: grid;
    width: 320px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-areas: 
        "row-1" 
        "row-2"
        "row-3"
        "row-4"
        "row-5"
        "row-6"
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
    padding-bottom: 10px;
    padding-right: 20px;
}

#row-1 {
    grid-area: row-1;
}

#row-2 {
    grid-area: row-2;
}

#row-3 {
    grid-area: row-3;
}

#row-4 {
    grid-area: row-4;
}

#row-5 {
    grid-area: row-5;
}

#row-6 {
    grid-area: row-6;
}

.cell {
    border-style: solid;
    width: 45px;
    height: 45px;
    border-color: rgb(212, 211, 211);
}